*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(15, 15, 15);
}


div{
    text-align: center;
    padding-top: 10vw;
    padding-left: 5vw;
}
h1{
    font-size: 6vw;
    font-weight: 100;
    text-align: left;
    color: rgb(255, 255, 255);
}
span{
    font-weight: 600;
    color: rgb(255, 232, 104);
}

ul{
    font-size: 2vw;
    text-align: left;
    padding: 5vw;
    list-style: none;
    display: flex;
    color: rgb(255, 255, 255);
}

a{
    color: aliceblue;
    margin: 1VW;
    text-decoration: none;
    font-size: 2vw;

}
a:hover{
    color: rgb(255, 232, 104);
}

p{
text-align: left;
margin-top: 5vw;
margin-left: 6vw;
color: rgb(255, 232, 104);
}

@media  (max-width:768px) {
    h1{
        font-size: 7vw;
    }
    a{
        color: aliceblue;
        font-size: 5vw;
    }
    p{
        margin-top: 18vw;

        }
}

@media  (max-width:425px) {
    h1{
        font-size: 8vw;
        text-align: center;
    }
    div{
        text-align: center;
        padding-top: 20vw;
        padding-left:0vw;
    }
    ul{
        font-size: 2vw;
        text-align: center;
        padding: 1vw;
        flex-wrap: wrap;
        margin-left: 10vw;
        margin-top: 25vw;
    }
    
    a{
        color: aliceblue;
        font-size: 7vw;
        width: 35vw;
        flex-direction: column;
        justify-content: space-around;
        margin: 2vw;
        background-color: rgb(36, 36, 36);
    }
    p{
        margin-top: 50vw;
        text-align: center;
        margin-left: 0;
        }
}