* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: #ED8975;
}

header {
  text-align: center;
  margin: 5vw;
}

div {
  text-align: center;
  width: 40vw;

  margin: 0 auto;
  padding: 4vw;
  background-color: #F2D096;;
  border-radius: 2vw;
  box-shadow: 4px 10px 10px  #00000039;

}
#ano{
  text-align: center;
  font-size: 1.2vw;
  width:13vw;
  height: 2vw;
  margin-left: .5vw;
  margin-right: 2vw;
  letter-spacing: .5vw;
  outline:none;
  border: none;
  box-shadow: 4px 5px 5px  #00000014;
}
#masc, #femi{
  width: 2vw;
  outline:none;
  border: none;
  color:  #cc4d34;

}
#button{
  padding: .4vw;
  padding-left: .8vw;
  padding-right: .8vw;
  outline:none;
  border: 2px solid #cc4d34;
  background-color: #ED8975;
  border-radius: 1vw;
  font-weight: 550;
  box-shadow: 3px 3px  #cc4d34;
  cursor: pointer;
}
div p {
  color: rgb(0, 0, 0);
  font-size: 1.5vw;
  display: inline-flex;
}

div h2 {
  color: rgb(0, 0, 0);
  font-size: 1.5vw;
  display: inline-flex;
  margin-top: 0.6vw;

}
p {
  color: rgb(0, 0, 0);
  margin-bottom:1vw;
}

h1{
  color: #F2D096;
  letter-spacing: -0.10vw;
  background-color: #da6852;
  width: 25vw;
  padding: 1vw;
  border-radius: 2vw;
  margin: 0 auto;
  width: 25vw;
}
a {
    color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2vw;
  text-decoration: none;
}

footer {
  color: rgb(241, 241, 241);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5vw;
}

@media (max-width: 716px) {
  img{
    padding: 5vw;
    margin: 5vw;
    width: 40vw;
  }
  header {
    text-align: center;
    margin: 15vw;
  }

  div {
    align-items: center;
    text-align: center;
    width: 60vw;
    margin: 0 auto;
    padding: 3vw;
  }
  div p {
    color: rgb(0, 0, 0);
    font-size: 5.5vw;
    display: inline;
    flex-direction: column  ;
    margin-top: 0.6vw;

  }

  #masc, #femi{
    min-width: 4vw;
    min-height: 4vw;
  
  }

  a {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8vw;
  }
  h1{
    color: #F2D096;
    letter-spacing: -0.10vw;
    background-color: #da6852;
    width: 25vw;
    padding: 1vw;
    border-radius: 2vw;
    margin: 0 auto;
    width: 100%;
  }
  div h2 {
    color: rgb(0, 0, 0);
    font-size: 3vw;
    display: inline-flex;
    margin-top: 0.6vw;
  
  }
  #ano{
    text-align: center;
    font-size: 4vw;
    width:24vw;
    height: 5vw;
    margin-left: 15vw;
    margin-right: 10vw;
    letter-spacing:0vw;
    outline:none;
    border: none;
    box-shadow: 4px 5px 5px  #00000014;
  }
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 35%;
  }
}
